header {
  background-color: #115343;
  color: #EFF1F3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.zalando-sans-uniquifier {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
  background-color: #FFE3E3;
  color: #115343;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #EFF1F3;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

footer {
  background-color: #F9C846;
}

h2 {
  text-align: center;
  border: 2px solid #f96e46;
  width: fit-content;
  padding: .5%;
}

.centered {
  text-align: center;
}

.intro {
  max-width: 500px;
  text-align: left;
}

@media (max-width: 600px) {
  .profile-pic {
    width: 100px;
    height: 100px;
  }
  
